.about-page{
  height: calc(100vh - 125px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.container{
  position: absolute;
  height: 90vh;
  width: 90%;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.about-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container h1{
  text-align: center;
  padding-top: 10px;
  background: linear-gradient(to bottom, #9820c7, #bb8fce);
  background-clip: text;
  color: transparent;
}

.about-me-section{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section h4{
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.about-me-section p{
  padding-left: 10px;
  color: rgb(150, 150, 150);
  padding-right: 10px;
}

.part1{
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.part2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont{
  margin-top: 10px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.image{
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  width: 50px;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webicon,.uiicon{
  height: 50px;
}

.txt-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.txt-content h4{
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #9820c7, #bb8fce);
  background-clip: text;
  color: transparent;
}

.txt-content p{
  padding: 0;
}

.avatar-image img{
  height: 400px;
  border-radius: 30px;
  animation: smallbig 6s ease-in-out infinite;
}

@keyframes smallbig {
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.9);
  }
}

@media screen and (max-width: 480px) {
  .container h1{
    font-size: 25px;
  }

  .about-content {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
  }

  .about-content .txt-content h4{
    font-size: 15px;
  }

  .about-content .txt-content p{
    font-size: 12px;
  }

  .part1 h4{
    font-size: 15px;
  }

  .part1 p{
    font-size: 12px;
  }

  .part1, .part2 {
    width: 100%;
  }

  .part2 {
    order: -1;
    display: flex;
    justify-content: center;
  }

  .avatar-image img {
    height: 180px;
    max-width: 100%;
  }

  .part1 {
    padding-top: 20px;
  }
  .txt-content p{
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .container h1{
    font-size: 25px;
  }

  .about-content {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }

  .about-content .txt-content h4{
    font-size: 18px;
  }

  .about-content .txt-content p{
    font-size: 15px;
  }

  .part1 h4{
    font-size: 18px;
  }

  .part1 p{
    font-size: 15px;
    padding-right: 10px;
  }

  .part1, .part2 {
    width: 100%;
  }

  .part2 {
    order: -1;
    display: flex;
    justify-content: center;
  }

  .avatar-image img {
    height: 300px;
    max-width: 100%;
  }

  .part1 {
    padding-top: 20px;
  }
  .txt-content p{
    text-align: left;
  }
}