.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.963);
  z-index: 10;
}

.navbar-outer{
  width: 50%;
  margin: auto;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
}

.nav-links a{
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}

.bg-circle {
  display: inline-block;
  padding: 5px 20px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.bg-circle.active {
  background: linear-gradient(to right, #9820c7, #bb8fce);
  border-radius: 20px;
}

@media screen and (max-width: 480px){
  .navbar-outer{
    width: 90%;
  }
  .navbar .nav-links a{
    font-size: 10px;
  }

}

@media screen and (max-width: 1024px){
  .navbar-outer{
    width: 95%;
  }

  .bg-circle{
    padding: 5px 14px;
  }

  .navbar .nav-links a{
    font-size: 14px;
  }
}